* {
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100%;
}

.instagram-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: start;
  width: 80%;
}

.instagram-phone {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 60%;
}

.instagram-continue {
  width: 360px;
}

.group {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 0 10px;
  padding: 10px 0;
  width: 100%;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.instagram-logo {
  height: 3.3rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

.profile-photo {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.profile-photo img {
  height: 100px;
  width: 100px;
}

.instagram-login {
  background-color: #0095f6;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 30px;
  padding: 8px;
  margin-bottom: 30px;
}

.instagram-logout span {
  color: #0095f6;
  margin-top: 1rem;
}

.instagram-logout {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 875px) {
  .instagram-phone {
    display: none;
  }

  .instagram-continue {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .instagram-wrapper {
    width: 90%;
  }

  .instagram-phone {
    display: none;
  }

  .instagram-continue {
    width: 100%;
  }

  .group {
    border: none;
  }
}
